@page "/"
@inject IJSRuntime JS;

<a href="/Test1Game">Test1Game</a>

@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        ((IJSInProcessRuntime)JS).InvokeVoid("runGame", "Test1Game");
    }
}