@page "/"
@inject IJSRuntime JS;

@code
{
#if DEBUG
    bool debug = true;
#else
bool debug=false;
#endif
}
@if (debug)
{
    <button @onclick="test1game_onclick">Test1Game</button>
    <button @onclick="pingpongame_onclick">Ping Pong</button>
    <button @onclick="jetpacgame_onclick">Jetpac</button>
    <a href="/jetpac_1.26/jetpac/index.html" target="_blank">jetpac 1.26</a>
}
<Host @ref="host"></Host>
@code
{
    Host host;


    void test1game_onclick(EventArgs e)
    {
#if DEBUG
        host.ChangeGame(new Tests.Test1Game());

#endif
    }

    void pingpongame_onclick(EventArgs e)
    {
#if DEBUG
        host.ChangeGame(new Games.PingPong.PingPongGame());

#endif
    }

    void jetpacgame_onclick(EventArgs e)
    {
#if DEBUG
        host.ChangeGame(new Games.Jetpac.JetpacGame());

#endif
    }
}